spring:
  application:
    name: sup

  datasource:
    url: jdbc:${DB:postgresql}://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:sup}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:26052004}
    driver-class-name: org.postgresql.Driver

  threads:
    virtual:
      enabled: true

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true
    open-in-view: false

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml

server:
  port: ${SERVER_PORT:9000}

app:
  token-expired: 86400000
  jwt-secret-key: ${JWT_SECRET:12345678901234567890123456789012}
