spring:
  application:
    name: sup

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - openid
              - email
              - profile
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https//www.googleapis.com/oauth2/v2/userinfo

  datasource:
    url: jdbc:${DB:postgresql}://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:sup}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:123456}
    driver-class-name: org.postgresql.Driver

  threads:
    virtual:
      enabled: true

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true
    open-in-view: false

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml

server:
  port: ${SERVER_PORT:9000}

app:
  refresh-token-expiration: 604800000 # 7 days
  access-token-expiration: 900000 # 15 minutes
  jwt-secret-key: ${JWT_SECRET:f1545ca030b7c3b0f7d7820196cb7fb14b9cb2a5ec4b911405cad2fa430966523c247a7c1c6553153f0e639873be291efb278ac8f1a5c68768d5401185f6f9e6}
  google-client-id: ${GOOGLE_CLIENT_ID}